*.pyc
*~
__pycache__
db.sqlite3
.env
.proenv

apps/blog/migrations/
apps/flatpages/migrations/
apps/search/migrations/
apps/upload/migrations/
static/static/admin
static/static/global/favicon.ico
static/static/global/img
static/media/
static/static-files/
.DS_Store