{% load staticfiles %}
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'global/css/ds-search.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'global/css/ds.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'global/css/ds-nav.css' %}">

<style>
	nav > div.btn-group{
		margin: 0 30px 0 0;
	}
	nav > div.btn-group > button + button{
		margin: 0 0 0 40px;
	}
</style>
{% endblock %}

<div class="wrapper" id="toggler">
		<nav class="navbar fixed-top h-65 bg-darker shadow-sm">
			<div class="nav-brand d-flex flex-row justify-content-start align-items-center ml-3">
				<a class="d-flex flex-column justify-content-center" href="{% url 'flatpage:index' %}"><img src="{% static 'global/img/brand/sda_site_logo_header_sample1.png' %}" height="38" alt="Brand Logo"></a>
			</div>
			<div class="btn-group">
				<button id="searchCollapse" class="border-0 bg-transparent p-0"><i class="fa fa-search fc-white"></i>
				</button>
				<button id="toggler-bars" class="border-0 bg-transparent p-0">
					<div class="icon-bar"></div>
					<div class="icon-bar my-1"></div>
					<div class="icon-bar"></div>
				</button>
			</div>
		</nav>
    <!-- Dark Overlay element -->
    <div class="overlay"></div>
</div>
<!-- buttons effected if inside wrapper  -->
{% include 'search/partials/search.html' %}
{% include 'global/partials/nav2_drawer.html' %}


<!--scripts-->
{% block extrascripts %}
{% endblock %}