{% load staticfiles %}

{% block extrastyles %}
<link rel="stylesheet" href="{% static 'global/css/ds.css' %}">
<style>
  .fc-white-dark{
    color:#626262;
  }
  .bg-gray{
    color:#dbe0dd;
  }
</style>
{% endblock %}

<!-- Footer -->
<footer id="footer" class="bottom-0 px-0">
  <!-- Copyright -->
  <div class="bottom-0 bg-lightblue pt-2">  
    <div class="footer-ic col-6-fr">
      <!-- Facebook -->
      <a class="ic" href="https://www.facebook.com/SamDaleAcademyLLC/" target="_blank"><i class="fab fa-facebook fa-lg fc-dark"></i></a>
      <!-- Twitter -->
      <a class="ic" href="https://twitter.com/Samdaleacademy_" target="_blank"><i class="fab fa-twitter fa-lg fc-dark mx-4"></i></a>
      <!--Instagram-->
      <a class="ic" href="https://www.instagram.com/samdaleacademy_sda/" target="_blank"><i class="fab fa-instagram fa-lg fc-dark"></i></a>
    </div>
    <p class="footer-copyright col-6-fl txt-12 fc-dark">© 2018 Copyright : Sam Dale Academy LLC</p>
  </div> 
</footer>

    
