{% load staticfiles %}

<!--bootstrap font-awesome-->
{% block extrastyles %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Graduate|Lato|Montserrat|Oxygen" rel="stylesheet">

<style>
  body {
      margin-bottom: 700px;  /* Margin bottom by footer height */
      overflow-x: hidden;  /*prevent horizontal scroll */
    }
  #footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 650px; /* set height a bit shorter than footer */
  }
  @media(max-width:576px){
    body {
      margin-bottom: 750px;  /*Margin bottom by footer height */
    }
    #footer{
      height: 700px; /* set height a bit shorter than footer */
    }
  }

  @media(min-width:768px){
    body{
      margin-bottom: 400px; /*Margin bottom by footer height */
    }
    #footer{
      height: 350px; /* set height a bit shorter than footer */
    }
  }

</style>
{% endblock %}

<!-- Footer -->

<footer class="" id="footer" style="">
      <div class="container-fluid" style="background-color:black;">

        <!-- Grid row-->
        <div class="container-fluid row py-4 px-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h4 class="mb-0" style="color: #e6e6e6;font-weight:100;">Stay connected with us!</h4>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook fa-lg mr-4" style="color: #e6e6e6;"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg mr-4" style="color: #e6e6e6;"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg" style="color: #e6e6e6;"> </i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left pt-5" style="background-color:black;">

      <!-- Grid row -->
      <div class="row pt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase" style="font-size:10pt;font-weight:400;color: #e6e6e6;">Our Mission</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;color: #e6e6e6;">
          <p style="font-size:10pt;font-weight:300;color: #e6e6e6;">Create an environment that promotes high quality health practice and elite basketball training in the same space.</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-3 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase" style="font-size:10pt;font-weight:400;color: #e6e6e6;">Useful links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;color: #e6e6e6;">
          <p class="" style="font-size:10pt;font-weight:300;color: #e6e6e6;"><a href="#!">Workouts</a>
          </p>
          <p class="" style="font-size:10pt;font-weight:300;color: #e6e6e6;"><a href="#!">Highlight Tapes</a>
          </p>
          <p class="" style="font-size:10pt;font-weight:300;color: #e6e6e6;"><a href="#!">Camps</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="">

          <!-- Links -->
          <h6 class="text-uppercase" style="font-size:10pt;font-weight:400;color: #e6e6e6;">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;color: #e6e6e6;">
          <p class="" style="font-size:10pt;font-weight:300;color: #e6e6e6;">Charlottesville, VA</p>
          <p class="" style="font-size:10pt;font-weight:300;'Graduate', sans-serif;color: #e6e6e6;">support@samdaleacademy.com</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->
	
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="font-size:10pt;font-weight:300;'Graduate', sans-serif;color: #e6e6e6;color: #e6e6e6;background-color:black;">© 2018 Copyright:
      <a href="#!" style="font-size:10pt;font-weight:500;color: #e6e6e6;">Sam Dale Academy LLC</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
    
