{% load staticfiles %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'global/css/ds-nav.css' %}">
{% endblock %}

<div class="wrapper" id="toggler">
		<nav class="navbar nav-h fixed-top bg-white shadow-sm">
			<div class="d-flex flex-row justify-content-start align-items-center">
				<a class="navbar-brand nav-brand li-display-brand p-0" href="{% url 'flatpage:index' %}">SAM DALE ACADEMY</a>
			</div>
			<div class="d-flex flex-row justify-content-end align-items-center">
				
				<a class="li-display-secondary li-display-0 py-0 pr-3 bd-highlight" href="{% url 'upload:video_index' %}">Videos</a>
				<a class="li-display-secondary li-display-0 py-0 pr-3 bd-highlight" href="{% url 'blog:blog_index' %}">Twenty Three Hours</a>
					
				<div class="li-display-0 vd"></div>

				<a class="li-display-secondary li-display-0 py-0 pl-3 bd-highlight" href="{% url 'flatpage:about_index' %}">About</a>
				<a class="li-display-secondary li-display-0 py-0 pl-4 bd-highlight" href="{% url 'flatpage:contact_index' %}">Contact</a>
			</div>
		</nav>
    <!-- Dark Overlay element -->
    <div class="overlay"></div>
</div>
<!-- buttons effected if inside wrapper  -->
{% include 'global/partials/nav_side_drawer.html' %}

<!--scripts-->
{% block extrascripts %}
<!-- jQuery CDN - Slim version (without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'global/js/ds.nav.bundle.js' %}"></script>
{% endblock %}

