
{% load staticfiles %}

{% block extrastyles %}
<link href="https://fonts.googleapis.com/css?family=Graduate|Lato|Montserrat|Oxygen" rel="stylesheet">

<style>
	#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 235px;
	height: 100vh;
	z-index: 9999;
	transition: all 0.2s;
	margin-left: -235px;
	min-width: 235px;
	max-width: 235px;
	}
	#sidebar.active {
	margin-left: 0;
	}
</style>
{% endblock %}

<nav id="sidebar" class="bg-white shadow-sm" style="">
	<nav class="navbar nav-h">
		<div class="d-flex flex-row justify-content-start align-items-center" style="">
			<button class="navbar-toggler p-0" id="dismiss" type="button" style="outline:0;">
	            <div class="drawer-icon-bar" style="background-color:black;width:18px;height:2px;"></div>
	            <div class="drawer-icon-bar" style="background-color:black;width:18px;height:2px;margin-top:3px;margin-bottom:3px;"></div>
	            <div class="drawer-icon-bar" style="background-color:black;width:18px;height:2px;"></div>                
	        </button>
			<a class="navbar-brand nav-brand p-0 ml-3" href="{% url 'uploads:video_index' %}" style="color:black;font-family:'Graduate', sans-serif;">SAM DALE ACADEMY</a>
		</div>
	</nav>
	<hr class="mt-0 mb-5" />

	<ul class="list-group">
	  <li class="list-group-item border-0" style=""><a class="bd-highlight" id="" href="https://www.samdaleacademy.com/" target="_blank" style="font-size:12pt;color:black;font-family: 'Montserrat', sans-serif;font-weight:300;"><i class="fa fa-external-link-alt fa-sm mr-3"></i><small>The Academy</small></a></li>
	</ul>

	<ul class="list-group mt-4">
		<li class="list-group-item border-0"><a class="bd-highlight" id="" href="{% url 'blog:blog_index' %}" style="font-size:12pt;color:black;font-family: 'Montserrat', sans-serif;font-weight:300;"><i class="fa fa-pencil-alt fa-sm mr-3"></i><small>Twenty Three Hours</small></a></li>
		<li class="list-group-item border-0"><a class="bd-highlight" id="" href="https://www.samdaleacademy.com/pages/podcast" target="_blank" style="font-size:12pt;color:black;font-family: 'Montserrat', sans-serif;font-weight:300;"><i class="fa fa-podcast fa-sm mr-3"></i><small>Podcasts</small></a></li>
	</ul>
	
	<!-- Section -->
	<!-- Section -->
	
	<!-- Footer -->
	<div class="drawer-footer bg-light" style="width:100%;height:100pt;position:absolute;bottom:0;">
		<!-- Footer Links -->
		<div class="container-fluid pt-2" style="width:90%;">
			<!-- Grid row -->
		    <div class="row">
		    	<div class="col">
		    		<a class="bd-highlight" id="" href="{% url 'flatpages:about_index' %}" style="font-size:10pt;color:black;font-family: 'Montserrat', sans-serif;font-weight:300;"><small>About</small></a>
		    		
		    	</div>
		    	<div class="col">
		    		<a class="bd-highlight" id="" href="{% url 'flatpages:contact_index' %}"  style="font-size:10pt;color:black;font-family: 'Montserrat', sans-serif;font-weight:300;"><small>Contact</small></a>
		    		
		    	</div>
		    	<div class="col">
		    		<a class="bd-highlight" id="" href="" style="font-size:10pt;color:black;font-family: 'Montserrat', sans-serif;font-weight:300;"><small>Press</small></a>
		    		
		    	</div>
		    </div>
		    <!-- Grid row -->
		    <!-- Grid row -->
		    <div class="row pt-0">
		    	<div class="col text-left">
		    		<a class="bd-highlight" id="" href="" style="font-size:10pt;color:black;font-family: 'Montserrat', sans-serif;font-weight:300;"><small>Privacy</small></a>
		    	</div>
		    </div>
		    <!-- Grid row -->
		</div>
    	<!-- Footer Links -->
		<!-- Copyright -->
	    <div class="footer-copyright" style="width:100%;height:100%;">
		      <a class="mb-2 text-center" href="" style="width:100%;position:absolute;bottom:0;color:black;font-size:10pt;"><small>© 2018 Sam Dale Academy LLC</small></a>
	    </div>
	    <!-- Copyright -->
    </div>

</nav>

<!--scripts-->
{% block extrascripts %}
<!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	
	<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            // open sidebar
            $('#sidebar').addClass('active');
            // fade in the overlay
            $('.overlay').addClass('active');
            // prevent page scrolling
            $('body').css({"overflow":"hidden"})
        });

        $('#dismiss, .overlay').on('click', function () {
            // hide sidebar
            $('#sidebar').removeClass('active');
            // fade out the overlay
            $('.overlay').removeClass('active');
            $('body').css({"overflow":"scroll"})
        });
    });
</script>

{% endblock %}