{% load staticfiles %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'global/css/ds-nav.css' %}">
{% endblock %}

{# side drawer #}
<nav id="drawer" class="bg-white shadow-sm">
	<nav class="navbar nav-h-2 bg-light">
		<div class="d-flex flex-row justify-content-start align-items-center">
			<a class="nav-h-2 bg-darker d-flex flex-column justify-content-center px-3 ml-4" href="{% url 'flatpage:index' %}"><img src="{% static 'global/img/brand/sda_site_logo_header_sample1.png' %}" width="120" alt="Logo"></a>
		</div>
	</nav>
	<hr class="mt-0 mb-5" />
	<ul class="list-group">
	  <li class="list-group-item w-95 border-0"><a class="bd-highlight link-display-md" href="{% url 'upload:video_index' %}">Videos</a></li>
	</ul>
	
	<ul class="list-group mt-4">
		<li class="list-group-item w-95 border-0"><a class="bd-highlight link-display-md" href="{% url 'blog:blog_index' %}">Twenty Three Hours</a></li>
		
	</ul>
	<ul class="list-group mt-4">
		<li class="list-group-item wpc-100 border-0"><a class="bd-highlight link-display-md" href="https://www.samdaleacademy.com/pages/podcast" target="_blank">Podcasts<i class="fa fa-external-link-alt fa-sm fa-sm-drawer-style px-3"></i></a></li>
	  <li class="list-group-item wpc-100 border-0"><a class="bd-highlight link-display-md" href="https://www.samdaleacademy.com" target="_blank">The Academy<i class="fa fa-external-link-alt fa-sm fa-sm-drawer-style px-3"></i></a></li>
	</ul>
	
	<!-- Footer -->
	<div class="drawer-footer bg-light">
		<!-- Footer Links -->
		<div class="container-fluid py-2">
			<!-- Grid row -->
		    <div class="row text-center">
		    	<div class="col">
		    		<a class="bd-highlight fc-dark" href="{% url 'flatpage:about_index' %}"><small>About</small></a>
		    		
		    	</div>
		    	<div class="col">
		    		<a class="bd-highlight fc-dark" href="{% url 'flatpage:contact_index' %}"><small>Contact</small></a>
		    		
		    	</div>
		    	<div class="col">
		    		<a class="bd-highlight fc-dark" href="{% url 'flatpage:contact_index' %}"><small>Press</small></a>
		    		
		    	</div>
		    </div>
		    <!-- Grid row -->
		    <!-- Grid row -->
		    <div class="row pt-0 text-center">
		    	<div class="col">
		    		<a class="bd-highlight fc-dark" href=""><small>Privacy</small></a>
		    	</div>
		    </div>
		    <!-- Grid row -->
		</div>
    	<!-- Footer Links -->
		<!-- Copyright -->
	    <div class="footer-copyright">
		      <a class="bottom-0 mb-2 text-center"><small>© 2018 Sam Dale Academy LLC</small></a>
	    </div>
	    <!-- Copyright -->
    </div>

</nav>

<!--scripts-->
{% block extrascripts %}
{% endblock %}



