{% load staticfiles %}

{% block extrastyles %}
<link href="https://fonts.googleapis.com/css?family=Graduate|Lato|Montserrat|Oxygen" rel="stylesheet">
<style>
.wrapper {
	display: flex;
	width: 100%;
	}
.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 9998;
    /* animate the transition */
    transition: all 0.2s;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: .4;
}
@media (max-width: 612px) {
	/* 80px and its content aligned to centre. Pushing it off the screen with the
	   negative left margin
	*/
	.nav-links {
		display: none;
	}
</style>
{% endblock %}

<div class="wrapper">
	{% include 'global/partials/nav_side_drawer.html' %}
	<nav class="navbar fixed-top bg-none shadow-none" style="height:35pt;">
		<div class="d-flex flex-row justify-content-start align-items-center" style="">
			<button class="navbar-toggler p-0" id="sidebarCollapse" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="outline:0;">
	            <div class="icon-bar" style="background-color:white;width:18px;height:2px;"></div>
	            <div class="icon-bar" style="background-color:white;width:18px;height:2px;margin-top:3px;margin-bottom:3px;"></div>
	            <div class="icon-bar" style="background-color:white;width:18px;height:2px;"></div>                
	        </button>
			<a class="link navbar-brand p-0 ml-3" href="{% url 'uploads:video_index' %}" style="font-size:11pt;color:white;font-family:'Graduate', sans-serif;">SAM DALE ACADEMY</a>
		</div>

		<div class="d-flex flex-row justify-content-end">
			<a class="nav-links link py-0 pl-4 pr-3 bd-highlight" id="" href="{% url 'blog:blog_index' %}" style="font-size:10pt;color:white;font-family: 'Montserrat', sans-serif;font-weight:300;">Twenty Three Hours</a>
				
			<div class="nav-links link vertical-divider border-left py-0" style=""></div>

			<a class="nav-links link py-0 pl-3 bd-highlight" id="" href="{% url 'flatpages:about_index' %}" style="font-size:10pt;color:white;font-family: 'Montserrat', sans-serif;font-weight:300;">About</a>
			<a class="nav-links link py-0 pl-4 bd-highlight" id="" href="{% url 'flatpages:contact_index' %}" style="font-size:10pt;color:white;font-family: 'Montserrat', sans-serif;font-weight:300;">Contact</a>
		</div>
	</nav>
<!-- Dark Overlay element -->
    <div class="overlay"></div>
</div>


<!--scripts-->
{% block extrascripts %}
<!--jquery-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script type="text/javascript">
$(document).ready(function(){
	$(window).scroll(function(){
		var navHeight = 35;
	    if($(window).scrollTop() > navHeight){
	        $(".navbar").css({"background-color":"white","transition":".5s linear"}); 
	        $(".icon-bar").css({"background-color":"black","transition":".5s linear"}); 
	        $(".link").css({"color":"black","transition":".5s linear"}); 
	    }
	    else{
	        $(".navbar").css({"background-color":"transparent","transition":" .2s linear"}); 
	        $(".icon-bar").css({"background-color":"white","transition":" .2s linear"}); 
	        $(".link").css({"color":"white","transition":" .2s linear"}); 
	    }
	});
});
</script>
{% endblock %}