
{% load staticfiles %}

{% block extrastyles %}
<link href="https://fonts.googleapis.com/css?family=Graduate|Lato|Montserrat|Oxygen" rel="stylesheet">

<style>
/* height of main nav */
.nav-h{
	height: 45px;
}
.nav-h-1{
	height: 50px;
}
.nav-h-2{
	height: 55px;
}

.nav-brand{
	font-size: 1rem;
}

.wrapper {
	display: flex;
	width: 100%;
	}
.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 9998;
    /* animate the transition */
    transition: all 0.2s;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: .4;
}

@media (max-width: 992px) {
	/* Remove links */
	#nav-form{
		position: absolute;
		right: -20px;

	}
	.nav-links {
		display: none;
	}
}
</style>
{% endblock %}

<div class="wrapper">
	{% include 'global/partials/nav_side_drawer.html' %}
		<nav class="navbar nav-h fixed-top bg-white shadow-sm">
			<div class="d-flex flex-row justify-content-start align-items-center" style="">

				<button class="navbar-toggler p-0" id="sidebarCollapse" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="outline:0;">
		            <div class="icon-bar" style="background-color:black;width:18px;height:2px;"></div>
		            <div class="icon-bar" style="background-color:black;width:18px;height:2px;margin-top:3px;margin-bottom:3px;"></div>
		            <div class="icon-bar" style="background-color:black;width:18px;height:2px;"></div>                
		        </button>
				<a class="navbar-brand nav-brand p-0 ml-3" href="{% url 'uploads:video_index' %}" style="color:black;font-family:'Graduate', sans-serif;">SAM DALE ACADEMY</a>
			</div>
			
			
			{% include 'search/partials/search.html' %}

			<div class="d-flex flex-row justify-content-end" id="nav-links-wrapper" style="">
				<a class="nav-links py-0 pl-4 pr-3 bd-highlight" id="" href="{% url 'blog:blog_index' %}" style="font-size:10pt;color:black;font-family: 'Montserrat', sans-serif;font-weight:300;">Twenty Three Hours</a>
					
				<div class="nav-links vertical-divider border-left py-0" style=""></div>

				<a class="nav-links py-0 pl-3 bd-highlight" id="" href="{% url 'flatpages:about_index' %}" style="font-size:10pt;color:black;font-family: 'Montserrat', sans-serif;font-weight:300;">About</a>
				<a class="nav-links py-0 pl-4 bd-highlight" id="" href="{% url 'flatpages:contact_index' %}" style="font-size:10pt;color:black;font-family: 'Montserrat', sans-serif;font-weight:300;">Contact</a>
			</div>
		</nav>
    <!-- Dark Overlay element -->
    <div class="overlay"></div>
</div>

<!--scripts-->
{% block extrascripts %}

{% endblock %}