{% load staticfiles %}

{% block extrastyles %}
<link href="https://fonts.googleapis.com/css?family=Graduate|Lato|Montserrat|Oxygen" rel="stylesheet">
{% endblock %}

<nav class="navbar fixed-top bg-white shadow-none" style="height:35pt;">
	<div class="d-flex flex-row justify-content-start align-items-center" style="">
		<button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="outline:0;">
            <div class="icon-bar" style="background-color:black;width:18px;height:2px;"></div>
            <div class="icon-bar" style="background-color:black;width:18px;height:2px;margin-top:3px;margin-bottom:3px;"></div>
            <div class="icon-bar" style="background-color:black;width:18px;height:2px;"></div>                
        </button>
		<a class="navbar-brand p-0 ml-3" href="{% url 'uploads:video_index' %}" style="font-size:11pt;color:black;font-family:'Graduate', sans-serif;">SAM DALE ACADEMY</a>
	</div>
	
	{% include 'search/partials/search.html' %}

	<div class="d-flex flex-row justify-content-end">
		<a class="py-0 pl-4 pr-3 bd-highlight" id="" href="{% url 'blog:blog_index' %}" style="font-size:10pt;color:black;font-family: 'Montserrat', sans-serif;font-weight:300;">Twenty Three Hours</a>
			
		<div class="vertical-divider border-left py-0" style=""></div>

		<a class="py-0 pl-3 bd-highlight" id="" href="{% url 'flatpages:about_index' %}" style="font-size:10pt;color:black;font-family: 'Montserrat', sans-serif;font-weight:300;">About</a>
		<a class="py-0 pl-4 bd-highlight" id="" href="{% url 'flatpages:contact_index' %}" style="font-size:10pt;color:black;font-family: 'Montserrat', sans-serif;font-weight:300;">Contact</a>
	</div>
</nav>

<!--scripts-->
{% block extrascripts %}{% endblock %}