{% extends 'global/layout.html' %}
{% load staticfiles %}

{% block title %}Our Blog{% endblock %}

{% block header %}
<header class="container-fluid nav-mb-sm ht-md bg-light">
	<div class="container p-wrapper px-5 py-5 wpc-80">
		<p class="heading1">{{ post.title }}</p>
		{% if post.published_date %}
		<p class="txt-14">published: {{ post.published_date }}</p>
	    {% endif %}
	</div>
</header>
{% endblock %}

{% block content %}
	<div class="container p-wrapper nav-overlap ht-md bg-white px-5 py-4 wpc-80">
		<p class="txt-16">{{post.text}}</p>
	</div>
{% endblock %}

{# override footer, no footer this page #}
{% block footer %}{% endblock %}
