{% extends 'global/layout.html' %}
{% load staticfiles %}

{% block title %}Our Blog | Posts{% endblock %}

{% block content %}
<figure id="grid-3x" class="container-fluid nav-mb-sm">
	{% for p in post %}
        <a href="{% url 'blog:blog_detail' slug=p.slug %}">
            <div class="thumbnail-wrapper">
                {% if p.image %}
	                <img src="{{ MEDIA_URL }}{{p.image}}" alt="thumbnail">
	            {% endif %}
                <div class="thumb-info">
                    <p class="thumb-text-primary pt-1 mb-1">{{ p.title }}</p>
                    <p class="thumb-text-secondary">{{p.description|truncatewords:9|linebreaksbr}}</p>
                </div>
            </div>
        </a>
	{% endfor %}
</figure>
<!--pagination-->
<div class="pagination d-flex justify-content-center">
    <span class="step-links">
    	<a href="{% url 'blog:blog_index' %}">&laquo; first</a>
        {% if post.has_previous %}
            <a href="{% url 'blog:blog_list'%}?page={{ post.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ post.number }} of {{ post.paginator.num_pages }}.
        </span>

        {% if post.has_next %}
            <a href="?page={{ post.next_page_number }}">next</a>
            <a href="?page={{ post.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}