{% block header %}
	<header class="container-fluid nav-mb ht-md bg-darker d-flex flex-column justify-content-center align-items-center">
		<p class="heading1 fc-white">Our Blog</p>
		<blockquote class="text-center wpc-60 pt-3">
			<p class="txt-14-light fc-white">"What you do in your 1-2 hours of training doesn’t make you a pro, it makes you a player, but the 22-23 hours outside of the training is what makes you a professional."</p>
			<footer class="blockquote-footer txt-12-light fc-white-darker"><cite title="Source Title">SDA Academy</cite></footer>
		</blockquote>
	</header>
{% endblock %} 