{% extends 'global/layout.html' %}
{% load staticfiles %}


{% block extrastyles %}
<link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet">
{% endblock %}

{% block title %}Videos{% endblock %}

{% block navigation %}
	{% include 'search/partials/nav_search.html' %}
{% endblock %}


{% block header %}
<figure id="video-player" class="container-fluid nav-mb-md">
	<div id="playlist-video-main">
		<video controls>
			<source src="{{MEDIA_URL}}{{media.primary.video}}" type="video/mp4">
			<source src="" type="video/webm">
			<p class="vjs-no-js">
				To view this video please enable JavaScript, and consider upgrading to a web browser that
				<a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
			</p>
		</video>
		<div id="playlist-video-main-info">
			<p id="video-main-title" class="video-main-text-primary pt-4 mb-3">{{media.primary.title}}</p>
			<p id="video-main-description" class="video-main-text-secondary">{{media.primary.description}}</p>
		</div>
	</div>
	{% if media.secondary %}
	<figcaption id="playlist-video-secondary">
		<div class="heading-banner-sm d-flex align-items-center"><p class="heading2 my-0">Next up.</p></div>
		<div class="wrapper-scroll">
		{% for m in media.secondary %}
			<a href="{{MEDIA_URL}}{{m.video}}">
				<div class="thumbnail-wrapper">
					<img src="{{MEDIA_URL}}{{m.video_thumbnail}}" alt="playlist video thumbnail"> 
					<div class="playlist-video-secondary-info">
						<p href="{{m.title}}" class="thumb-text-primary pt-1">{{m.title|truncatewords:6|linebreaksbr}}</p>
						<p href="{{m.description}}"></p>
					</div>
				</div>
			</a>
		{% endfor %}
		</div>
	</figcaption>
	{% endif %}
</figure>
{% endblock %}

{% block content %}
{% if media.grid %}
<figure id="grid-4x" class="container-fluid">
	<div class="heading-banner-lg d-flex align-items-center"><p class="heading2 mb-0">More Drills.</p></div>
	{% for m in media.grid %}
        <a href="{% url 'upload:video_detail' slug=m.slug %}">
            <div class="thumbnail-wrapper">
                <img src="{{ MEDIA_URL }}{{m.video_thumbnail}}" alt="playlist video thumbnail">
                <div class="thumb-info">
                    <p class="thumb-text-primary pt-1 mb-1">{{m.title|truncatewords:7|linebreaksbr}}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</figure> 
{% endif %}
{% endblock %}


{# override footer, no footer for this page #}
{% block footer %}{% endblock %}

<!--scripts-->
{% block extrascripts %}
<script src="https://vjs.zencdn.net/7.2.3/video.js"></script>
<script type="text/javascript" src="{% static 'global/js/ds.video.bundle.js' %}"></script>
{% endblock %}