/* unvisited link */

/* visited link */

/* mouse over link */

/* selected link */


html{
  position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 0pt;  /*Margin bottom by footer height */
	overflow-x: hidden;  /*prevent horizontal scroll */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0pt; /* Set the fixed height of the footer here */
  text-align: center;
}

