{% extends 'global/layout.html' %}
{% load staticfiles %}

{% block title %}About{% endblock %}

{# override primary nav #}
{% block navigation %}
{% include 'global/partials/nav_secondary.html' %}
{% endblock %}

{# override page header #}
{% block header %}
	<header class="container-fluid nav-mb bg-dark ht-md d-flex flex-column justify-content-center align-items-center">
		<p class="heading1 fc-white">About Us.</p>
	</header>
{% endblock %} 

{% block content %}
{% include './partials/profiles.html' %}
{% include './partials/mission.html' %}
{% include './partials/pillars.html' %}
{% include './partials/partners.html' %}
{% endblock %}

