{% extends 'global/layout.html' %}
{% load staticfiles %}

{% block title %}Contact{% endblock %}

{# override primary nav #}
{% block navigation %}
{% include 'global/partials/nav_secondary.html' %}
{% endblock %}

{# override page header #}
{% block header %}
	<header class="container-fluid nav-mb ht-md bg-dark d-flex flex-column justify-content-center align-items-center">
		<p class="heading1 fc-white">Contact The Academy</p>
		<blockquote>
			<p class="txt-14 fc-white-darker">Get in touch with us to get the ball rolling</p>
		</blockquote>
	</header>
{% endblock %}

{% block content %}

{% endblock %}