{% load staticfiles %}
{% load widget_tweaks %}

<form method="get" action="{% url 'video_search_view' %}">
	{% render_field search_form.q class="form-control form-control-sm py-0 shadow-none" placeholder="Search SDA Drills" style="border-radius:5px;width:100%;height:40px;"%}
</form>

<!--scripts-->
{% block extrascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="{% static 'global/js/ds.search.bundle.js' %}"></script>
{% endblock %}
    
