{% load widget_tweaks %}
	
<form class="input-group my-0 mr-3 col-4 text-right py-0" id="nav-form" method="get" action="{% url 'video_search_view' %}">
	
	{% render_field search_form.q class="form-control form-control-sm py-0 border-top-0 border-left-0 border-right-0 shadow-none" placeholder="Search" id="search-input" style="background-color:transparent;" %}
	
	{# disable button if there is no user input #}
	<span class="input-group-append">
		<button class="btn btn-sm border-0 shadow-none" type="submit" style="background-color:transparent;"><i class="fa fa-search" style="color:black;"></i>
		</button>
	</span>
</form>