{% load staticfiles %}
{% load widget_tweaks %}

<nav id="search" class="bg-white shadow-sm">
	<nav class="navbar nav-h-2">
		<div class="d-flex flex-row justify-content-start align-items-center">
			<button class="btn btn-md border-0 shadow-none bg-transparent p-0" id="remove-search"><i class="fa fa-arrow-left"></i>
			</button>
		</div>

		<div class="d-flex flex-row justify-content-end wpc-80">
			<form class="input-group mx-0 py-0 bg-transparent" method="get" action="{% url 'video_search_view' %}">
				{% render_field search_form.q class="form-control form-control-sm py-0 mr-2 border-top-0 border-left-0 border-right-0 bg-transparent shadow-none" placeholder="Search SDA Drills" id="search-form"%}	

				{# disable button if there is no user input #}
				<span class="input-group-append">
					<button class="btn btn-md border-0 shadow-none bg-transparent px-0" type="submit"><i class="fa fa-search"></i>
					</button>
				</span>
			</form>	
		</div>
	</nav>
</nav>


<!--scripts-->
{% block extrascripts %}
{% endblock %}
    
