{% load staticfiles %}

<div class="py-5">
	<p class="heading1 fc-darker text-center">Our Goal.</p>

	<div class="container-fluid py-2 d-flex flex-column align-items-center">
		<div class="p-wrapper wpc-80 text-center pt-4 txt-18 lh-3">
			<p>We train all athletes at a high level, but understand that all players are unique. So we help them get the most out of their sessions by crafting workouts specific to the athlete, monitoring their performance, revisiting the workout plan and implementing drills that meet their progress.</p>
			<p>We also believe preparation off the court is highly indicative of strong performance, hence our company’s motto. Our six Pillars embody this idea and we approach all sessions with them in mind - Nutrition, Recovery, Mindfulness, Readiness, Training, and Mindset.</p>
		</div>
	</div>
</div>