{% load staticfiles %}


<div class="container text-center" style="">
		<h1 class="my-5 text-center">Our Goal</h1>
		<p class="h4 mb-4 px-5" style="font-weight:300;line-height:50px;">We train all athletes at a high level, but understand that all players are unique. So we help them get the most out of their sessions by crafting workouts specific to the athlete, monitoring their performance, revisiting the workout plan and implementing drills that meet their progress.</p>
		<p class="h4 mb-4 px-5" style="font-weight:300;line-height:50px;">We also believe preparation off the court is highly indicative of strong performance, hence our company’s motto. Our six Pillars embody this idea and we approach all sessions with them in mind - Nutrition, Recovery, Mindfulness, Readiness, Training, and Mindset</p>
</div>