{% load staticfiles %}

<div class="container-fluid bg-dark text-center py-5">
	<p class="heading2 fc-white">Six Pillars.</p>
	<div class="row pt-5">
		<div class="col-sm-4">
			<p class="heading1 fc-white">Nutrition.</p>
			<p class="txt-12-md fc-white-darker">Process of obtaining food<br>necessary for health and growth</br></p> 
			<hr class="wpx-70 bg-warning">
		</div>
		<div class="col-sm-4">
			<p class="heading1 fc-white">Recovery.</p>
			<p class="txt-12-md fc-white-darker">Returning to a normal<br> state of health, mind and strength</br></p>
			<hr class="wpx-70 bg-warning">
		</div>
		<div class="col-sm-4">
			<p class="heading1 fc-white">Mindfulness.</p>
			<p class="txt-12-md fc-white-darker">Mental state achieved by<br> focusing ones attention on the present moment</br></p>
			<hr class="wpx-70 bg-warning">
		</div>
	</div>
	<div class="row pt-5">
		<div class="col-sm-4">
			<p class="heading1 fc-white">Readiness.</p>
			<p class="txt-12-md fc-white-darker">The state of being prepared</p>
			<hr class="wpx-70 bg-warning">
		</div>
		<div class="col-sm-4">
			<p class="heading1 fc-white">Training.</p>
			<p class="txt-12-md fc-white-darker">The action of teaching<br> a skill or type of behavior</br></p>
			<hr class="wpx-70 bg-warning">
		</div>
		<div class="col-sm-4">
			<p class="heading1 fc-white">Mindset.</p>
			<p class="txt-12-md fc-white-darker">The established set of<br> attitudes held by someone</br></p>
			<hr class="wpx-70 bg-warning">
		</div>
	</div>
</div>