{% load staticfiles %}

<div class="container-fluid mt-4">
	<h1 class="my-5 text-center">The Founders</h1>
	
	{# row 1 #}
	<div class="row py-3">
		<div class="col-md-6 text-center">
			<img class="rounded" src="{% static 'global/img/headshots/dg_headshot.png' %}" width="350" alt="Profile Headshot">
		</div>
		<div class="col-md-5" style="border:1pt solid none;">
			<div class="container px-0">
				<div class="profile-body">
					<h5 class="profile-name">Daniel Ginsberg</h5>
					<p class="profile-title">Co-Founder & CEO</p>
					<ul class="list-inline my-4" id="profile-social">
						<li class="list-inline-item"><a href=""><i class="fab fa-facebook fa-lg"></i></a></li>
						<li class="list-inline-item"><a href=""><i class="fab fa-instagram fa-lg"></i></a></li>
						<li class="list-inline-item"><a href=""><i class="fab fa-twitter fa-lg"></i></a></li>
					</ul>
					<hr class="my-0">
					<p class="profile-text">
						<p class="h6" style="">BA’ Sustainable Business & Sociology '17</p>
						<p class="h6" style=""><small>Co-founder and CEO of Sam Dale Academy, Daniel has over 5 years of coaching and operational experience.</small></p>  
						<p class="h6" style=""><small>As a coach, Daniel has been on the scene since high school, spending his last summer both preparing for college ball and assisting one of the top AAU basketball programs in Virginia. He spent the next four years training other athletes during his off season and offered the same regimen when he took his talents overseas.</small></p> 
						<p class="h6" style=""><small>Daniel holds a Plant-Based Nutrition Certification from Cornell University and is a champion of health, educating and implementing dieting strategies for athletes.</small></p>
						<li class="list-inline-item"><a href="">Full Bio</a></li>
					</p>
				</div>
			</div>
		</div>
	</div>

	<hr class="my-5">
	{# row 2 #}
	<div class="row py-3">
		<div class="col-md-6 text-center ">
			<img class="rounded" src="{% static 'global/img/headshots/sd_headshot.png' %}" width="350" alt="Profile Headshot">
		</div>
		<div class="col-md-5" style="border:1pt solid none;">
			<div class="container px-0">
				<div class="profile-body">
					<h5 class="profile-name">Sampson Dale</h5>
					<p class="profile-title">Co-Founder & Head Director</p>
					<ul class="list-inline my-4" id="profile-social">
						<li class="list-inline-item"><a href=""><i class="fab fa-facebook fa-lg"></i></a></li>
						<li class="list-inline-item"><a href=""><i class="fab fa-instagram fa-lg"></i></a></li>
						<li class="list-inline-item"><a href=""><i class="fab fa-twitter fa-lg"></i></a></li>
					</ul>
					<hr class="my-0">
					<p class="profile-text">
						<p class="h6" style="">BA’ Communications 17'<br>MA’ Athletic Coaching Education 19'</p>

						<p class="h6" style=""><small>Co-founder and Head Director of Sam Dale Academy, Sam is a seasoned professional that has over 10 years of training and development experience.</small></p>  
						<p class="h6" style=""><small>A mentor by nature, Sam effectively projects leadership, passion and self-discipline through his coaching. He is well versed in strategic, functional basketball training and integrates innovative training ideologies such as block and randomized practice into SDA workouts; coupled with his own experience as a former athlete, he brings a sense of knowledge and structure to every session.</small></p> 
						<p class="h6" style=""><small>Sam is currently the assistant women’s basketball coach at Green Mountain College.</small></p>
						<li class="list-inline-item"><a href="">Full Bio</a></li>
					</p>
				</div>
			</div>
		</div>
	</div>
	<hr class="my-5">
</div>