/* buttons */
.icon-bar{
	background-color: black;
	width:21px;
	height:2px;
	display: block;
}
.times{
	width: 22px;
}
.tl{
	height:22px;
	width:2px;
	background-color:white;
	transform: rotate(45deg);
	margin-left: 45%;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
}
.tr{
	height:22px;
	width:2px;
	background-color:white;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 9998;
    /* animate the transition */
    transition: all 0.2s;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: .6;
}
