/* base grids */

/* playlist figcaption videos horizontal 1per row */
@media (max-width: 576px) {
	#video-player video {
		width: 100%;
		height: auto;
	}
	#video-player figcaption, 
	#grid-3x,
	#grid-4x{
		width:100%;
	}
	#video_player video,
	#video_player figcaption,
	#grid-3x,
	#grid-4x{
		display: table-row;
	}

	#video-player .thumbnail-wrapper,
	#grid-3x a .thumbnail-wrapper,
	#grid-4x a .thumbnail-wrapper{
		display: block;
		width: 95%;
		padding: 30px 5px 5px;

	}
	#video-player figcaption a img,
	#grid-3x a .thumbnail-wrapper img,
	#grid-4x a .thumbnail-wrapper img{
		display: block;
		width: 100%;
	}
	#video-player .playlist-video-secondary-info,
	#grid-3x a .thumbnail-wrapper .thumb-info,
	#grid-4x a .thumbnail-wrapper .thumb-info{
		display: block;
		width: 100%;
	}
	#video-player figcaption a:hover {
		opacity: .8;
	}
}

/* playlist figcaption videos horizontal 2per row */
@media (min-width: 576px) and (max-width: 768px) {
	#video-player video {
		width: 100%;
		height: auto;
	}
	#video-player figcaption, 
	#grid-3x,
	#grid-4x {
		width:100%;
	}
	#video_player video,
	#video_player figcaption,
	#grid-3x,
	#grid-4x {
		display: table-row;
	}
	#video-player .thumbnail-wrapper,
	#grid-3x a .thumbnail-wrapper,
	#grid-4x a .thumbnail-wrapper{
		display: inline-block;
		width: 50%;
		padding: 30px 5px 5px;

	}
	#video-player figcaption a img,
	#grid-3x a .thumbnail-wrapper img,
	#grid-4x a .thumbnail-wrapper img{
		display: block;
		width: 100%;

	}
	#video-player .playlist-video-secondary-info,
	#grid-3x a .thumbnail-wrapper .thumb-info,
	#grid-4x a .thumbnail-wrapper .thumb-info{
		display: block;
		width: 100%;
	}
	#video-player figcaption a:hover {
		opacity: .8;
	}
}

/* videos in body maintain grid view */
@media (min-width: 768px){
	#grid-3x,
	#grid-4x{
		width:100%;
	}
	#grid-3x,
	#grid-4x{
		display: table-row;
	}
	#grid-3x a .thumbnail-wrapper{
		display: inline-block;
		width: 33.3%;
		padding: 30px 5px 5px;
	}
	#grid-4x a .thumbnail-wrapper{
		display: inline-block;
		width: 25%;
		padding: 30px 5px 5px;
	}

	#grid-3x a .thumbnail-wrapper img,
	#grid-4x a .thumbnail-wrapper img{
		display: block;
		width: 100%;
	}

	#grid-3x a .thumbnail-wrapper .thumb-info,
	#grid-4x a .thumbnail-wrapper .thumb-info{
		display: block;
		width: 100%;
	}
}

/* playlist figcaption videos horizontal 3per row */
@media (min-width: 768px) and (max-width: 992px) {
	#video-player video {
		width: 100%;
		height: auto;
	}
	#video-player figcaption{
		width:100%;
	}
	#video_player video,
	#video_player figcaption {
		display: table-row;
	}
	#video-player .thumbnail-wrapper{
		display: inline-block;
		width: 25%;
		padding: 30px 5px 5px;

	}
	#video-player figcaption a img{
		display: inline-block;
		width: 100%;

	}
	#video-player .playlist-video-secondary-info{
		display: block;
		width: 100%;

	}
	#video-player figcaption a:hover {
		opacity: .8;
	}
}

/* playlist figcaption videos vertical */
 @media(min-width:992px) {
 	#video-player video {
		width: 100%;
		height: auto;
	}
	#video-player figcaption {
		width:30%;
		background: #f8f9fa;
	}
	#video-player video,
	#video-player figcaption {
		display: table-cell;
		vertical-align: top;
	}

	#video-player .thumbnail-wrapper{
		display: block;
		width: 100%;
		padding: 0 5px 5px;
		display: flex;
  		align-items: start;
	}

	#video-player figcaption a img{
		display: inline-block;
		width: 50%;
	}

	#video-player .playlist-video-secondary-info{
		display: inline-block;
		width: 50%;
		height: 50px;
		padding-left: 10px;
	}

	#video-player figcaption a:hover {
		opacity: .8;
	}
}

/*
//video player mark up 
*/
 @media(max-width:992px){
 	#video-player, 
 	#video-body-grid,
 	#grid-3x,
 	#grid-4x {
		display: table;
		line-height: 0;
		font-size: 0;
		width: 90%;
	}
 }


 @media(min-width:992px){
 	#video-player,
 	#video-body-grid,
 	#grid-3x,
 	#grid-4x {
		display: table;
		line-height: 0;
		font-size: 0;
		width: 980px;
	} 
 }

  @media(min-width:1024px){
 	#video-player,
 	#video-body-grid,
 	#grid-3x,
 	#grid-4x {
		display: table;
		line-height: 0;
		font-size: 0;
		width: 1010px;
	} 
 }

 @media(min-width:1200px){
 	#video-player,
 	#video-body-grid,
 	#grid-3x,
 	#grid-4x {
		display: table;
		line-height: 0;
		font-size: 0;
		width: 1180px;
	} 
 }